# Python & Environments
venv/
.venv/
__pycache__/
*.pyc

# Git & Secrets
.git/
.gitignore
.env

# Editor Settings
.vscode/
.idea/

# Local Database Data & Dumps
pgdata/
postgres_data/
*.sql
*.dump
db.sqlite3

# Personal notes & Assignment PDF
Notes.txt
Artikate_Backend_Developer_Assignment.pdf
