# Python & Environments
venv/
.venv/
.env
__pycache__/
*.pyc

# Editor settings
.vscode/
.idea/

# PostgreSQL local volume & dumps
pgdata/
postgres_data/
*.sql
*.dump
db.sqlite3

# Personal notes & Assignment PDF
# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.dir
celerybeat-schedule.bak
