# Python & Environments
venv/
.venv/
.env
__pycache__/
*.pyc

# Editor settings
.vscode/
.idea/

# PostgreSQL local volume & dumps
pgdata/
postgres_data/
*.sql
*.dump
db.sqlite3

# Personal notes & Assignment PDF
Notes.txt
Artikate_Backend_Developer_Assignment.pdf
celerybeat-schedule